<div class="contacts-holder">
    <h2 class="title">You can find us somewhere in Kharkiv</h2>
    <div class="map-holder">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1378.2705266739379!2d36.2352543954493!3d50.001500728626226!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a06db1b5419d%3A0xf725a7c987c29d42!2z0J_QsNC8J9GP0YLQvdC40Log0KLQsNGA0LDRgdGDINCT0YDQuNCz0L7RgNC-0LLQuNGH0YMg0KjQtdCy0YfQtdC90LrRgw!5e0!3m2!1sru!2sua!4v1661799123224!5m2!1sru!2sua"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe> 
    </div>
</div>

