<div class="halls-section" [appBacklightColor]="color" (mouseover)="color=hall.name.toLowerCase()">
    <h2>{{ hall.name }} Hall</h2>
    <p>Group training price: 
        <span class="price">
            {{ hall.pricePerCustomer | uah }}
        </span>
    </p>
    <p>Hall rent price: 
        <span class="price">{{ hall.priceForRent | uah }}</span>
    </p>
    <p class="status">
        Status: {{hall.isEmpty? 'free for rent' : 'alredy rented'}}
    </p>
    <button class="btn"
    appClickStopPropagation
    (click)='changeRentalStatus(!hall.isEmpty, hall.priceForRent)'
    >
        {{hall.isEmpty? 'Rent' : 'Cancel rental'}}
    </button>
    <button class="btn"
    appClickStopPropagation
    (click)="pay(hall.pricePerCustomer)"
    >
    Sign up for workout
</button>
</div>
