<div class="halls-section" [appBacklightColor]="color" (mouseover)="color=hall.name.toLowerCase()">
    <h2>{{ hall.name }} Hall</h2>
    <p>Group training price: 
        <span class="price">
            {{ hall.pricePerCustomer | uah }}
        </span>
    </p>
    <p>Number of people in the group: {{ hall.capacity }}</p>  
    <p>Hall rent price: 
        <span class="price">{{ hall.priceForRent | uah }}</span>
    </p>
    <p class="additional-equipment" *ngIf="hall.equipment">
        Additional equipment: {{ hall.equipment }}
    </p>
    <p class="status">
        Status: {{hall.isEmpty? 'free for rent' : 'alredy rented'}}
    </p>
    <button class="btn"
    (click)='changeRentalStatus(!hall.isEmpty)'
    >
        {{hall.isEmpty? 'Rent' : 'Cancel rental'}}
    </button>
</div>
