<p>dance-hall works!</p>
<div class="halls-section">
    <h2>{{ hall.name }}</h2>
    <p class="description">
        Description:
    </p>
    <p>Group training price: 
        <span class="price">
            {{ hall.pricePerCustomer | uah }}
        </span>
    </p>
    <p>Number of people in the group: {{ hall.capacity }}</p>  
    <p>Hall rent price: 
        <span class="price">{{ hall.priceForRent | uah }}</span>
    </p>
    <p class="additional-equipment" *ngIf="hall.equipment">
        Additional equipment: {{ hall.equipment }}
    </p>
    <p class="status">
        Status: {{hall.isEmpty? 'free for rent' : 'alredy rented'}}
    </p>
    <button class="btn"
    (click)='hall.isEmpty = !hall.isEmpty'
    >
        {{hall.isEmpty? 'Rent' : 'Cancel rental'}}
    </button>
</div>
