<div class="reg-form-wrapper">
    <h2 class="title">Please enter the registration form</h2>
    <form class="reg-form"
    [formGroup]="registrationFrom"
    (ngSubmit)="register()"
    >
        <div class="input-holder">
            <mat-form-field appearance="fill" class="input-elem">
                <label for="reg-name">Enter your name</label>
                <input type="text" 
                name="name" 
                id="reg-name" 
                placeholder="name"
                matInput 
                formControlName="name"
                >
            </mat-form-field> 
            <p class="form-error" *ngIf="registrationFrom.controls['name'].invalid && registrationFrom.controls['name'].touched">
                Please enter your name
            </p>
        </div>
        <div class="input-holder">
            <mat-form-field appearance="fill" class="input-elem">
                <label for="reg-phone">Enter your phone number</label>
                <input type="text" 
                name="phone" 
                placeholder="phone number" 
                matInput
                id="reg-phone"
                formControlName="phone">
            </mat-form-field>
            <p class="form-error" 
            *ngIf="registrationFrom.controls['phone'].invalid && registrationFrom.controls['phone'].touched"
            >
                Phone should be in +380000000000 format
            </p>
        </div>
        <div class="input-holder">
            <mat-form-field appearance="fill" class="input-elem">
                <label for="email">Enter your email</label>
                <input type="email" 
                name="email"
                matInput 
                id="email" 
                placeholder="e-mail"
                formControlName="email"
                >
            </mat-form-field>
            <p class="form-error" 
            *ngIf="emailValidator()"
            >
                Please, enter correct e-mail
            </p>
        </div>
        <div class="input-holder">
            <mat-form-field appearance="fill" class="input-elem">
                <label for="birthday">Enter your birthday</label>
                <input
                matInput [matDatepicker]="picker"
                id="birthday"
                name="birthday"
                formControlName="birthday"
                >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <p class="form-error" *ngIf="birthdayValidator()">
                Please enter your birthday
            </p>
        </div>
        <div class="input-holder">
            <mat-form-field appearance="fill" class="input-elem">
                <label for="reg-password">Enter your password</label>
                <input type="text"
                matInput 
                name="password" 
                placeholder="password" 
                id="reg-password"
                formControlName="password"
                >
            </mat-form-field>
        </div>
        <div class="input-holder">
            <mat-checkbox 
            name="subscribe"
            id="subscribe" 
            formControlName="subscribtion"
            > Subscribe
            </mat-checkbox>
        </div>
        <div class="button-holder">
            <button class="btn" 
            mat-raised-button
            type="submit"
            [disabled]="registrationFrom.invalid"
            color="primary"
            >
                Register
            </button>
        </div>
    </form>
    <p class="form-error" *ngIf="registrationErrorMessege"> {{registrationErrorMessege}}</p>
    <p class="form-success" *ngIf="isRegistered">Successful registration</p>
</div>
