/* You can add global styles to this file, and also import other style files */
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 30px 0;
    /* visibility: hidden; */
    transition: all .5s ease-in-out;
    /* opacity: 0; */
    background: rgba(255, 255, 255, 0.9);
}

.modal-wrapper {
    width: 575px;
    height: 310px;
    box-shadow: 3px 10px 20px rgb(0 0 0 / 20%);
    border-radius: 50px;
    overflow: hidden;
    background: white;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: "";
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

body {
    margin: 0;
}

.content {
    flex: 1 0 auto;
    margin-top: 50px;
}