<header class="header">
    <div class="nav-wrapper">
        <div class="logo-holder">
            <a routerLink="/" class="logo-link">
                <span class="logo">Logo</span>
            </a>
        </div>
        <nav class="nav">
            <ul class="nav-ul">
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/halls" routerLinkActive="nav-active">Halls</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/news" routerLinkActive="nav-active">News</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contacts" routerLinkActive="nav-active">Contacts</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" routerLinkActive="nav-active">Log in</a>
                </li>
            </ul>
        </nav>
        <div class="user-info" *ngIf="userName | async">
            <span class="greetings user-info-component">Hello, {{userName.getValue()}}!</span>
            <p class="user-info-component">
                <span class="birthday" *ngIf="birthday | async">Happy birthday!</span>
            </p>
            <p class="user-info-component">
                Your current balance: {{ customerBalance | currency: 'UAH ' }}
            </p>
            <div class="account-wrap">
                <input 
                type="number" 
                placeholder="Enter the sum"
                [(ngModel)]="ammount"
                >
                <button 
                class="btn" 
                type="submit"
                (click)="topUp()"
                >Top up account</button>
            </div>
            <button class="btn" (click)="logout()">Log out</button>
        </div>
    </div>
</header>


