.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: antiquewhite;
}

.nav {
    display: flex;
    justify-content: flex-end;
    color: black;
    padding: 15px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px;
}

.logo-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 15px;
    font-size: 24px;
}

.nav-ul {
    display: flex;
}

.nav-item {
    list-style: none;
}

.nav-item:hover{
    opacity: .9;
    border-radius: 5px;
    background-color: lightgrey;
}

.nav-active {
    border-radius: 5px;
    background-color: lightgrey;
}

.user-info {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 0;
}

.user-info-component{
    margin: 5px 0;
}

.btn {
    width: 100%;
    transition: ease-in-out .3s;
}

.btn:hover {
    background-color: antiquewhite;
    color: black;
    transition: ease-in-out .3s;
}

.input-sum{
    width: 100%;
}